<li class="contributor-avatar{{#if shout-out}} shout-out{{/if}}" title="{{ ctx.login }} ({{ctx.contributions}} contributions)">
	<a href="{{ ctx.html_url }}">
		<img src="/images/avatars/{{ ctx.login }}.png" alt="{{ ctx.login }}">
	</a>
</li>
